Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2021-12, with the labels that each got.

#270 Removed the obsolete POC installer from the project
  poc-installer/install.sh
  poc-installer/payload/cri-containerd-v1.4.4+vmware.3.linux-amd64.tar
  poc-installer/payload/cri-tools_1.19.0+vmware.3-1_amd64.deb
  poc-installer/payload/debinstall.list
  poc-installer/payload/kubeadm_1.20.5+vmware.2-1_amd64.deb
  poc-installer/payload/kubectl_1.20.5+vmware.2-1_amd64.deb
  poc-installer/payload/kubelet_1.20.5+vmware.2-1_amd64.deb
  poc-installer/payload/kubernetes-cni_0.8.7+vmware.7-1_amd64.deb
  poc-installer/tkgpkg_fsbackup.sh
  poc-installer/uninstall.sh
Labels: cla-rejected

#279 bump(deps) github.com/containerd/containerd and github.com/opencontainers/image-spec
  go.mod
  go.sum
Labels: cla-not-required, area/test-release

#284 bump(deps) github.com/opencontainers/runc to v1.0.3
  go.mod
  go.sum
Labels: cla-not-required, area/test-release

#286 🐛 Fix Draft Release Github action to fetch the tag name
  .github/workflows/draft-release.yaml
Labels: cla-not-required
