Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2021-11, with the labels that each got.

#192 Fix for the slow bundleDownloader test.
  agent/installer/bundle_downloader_test.go
Labels: cla-not-required

#196 Update getting started guide
  README.md
  docs/getting_started.md
  docs/local_dev.md
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-with-kcp.yaml
Labels: cla-not-required

#190 clean the /et/cni/net.d folder before we start the k8s provsion
  .github/workflows/test-agent.yml
  agent/reconciler/host_reconciler.go
  apis/infrastructure/v1beta1/condition_consts.go
  common/utils.go
Labels: cla-not-required

#198 Update module name to match repo name
  PROJECT
  README.md
  agent/cloudinit/cloudinit.go
  agent/cloudinit/cloudinit_integration_test.go
  agent/cloudinit/cloudinit_test.go
  agent/cloudinit/cloudinitfakes/fake_icmd_runner.go
  agent/cloudinit/cloudinitfakes/fake_ifile_writer.go
  agent/cloudinit/cloudinitfakes/fake_itemplate_parser.go
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/installer/cli/main.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/reconciler/reconciler_test.go
  agent/registration/host_registrar.go
  controllers/infrastructure/byocluster_controller.go
  controllers/infrastructure/byohost_controller.go
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  controllers/infrastructure/byomachine_scope.go
  controllers/infrastructure/byomachinetemplate_controller.go
  controllers/infrastructure/suite_test.go
  go.mod
  main.go
  test/builder/builders.go
  test/e2e/byohost_reuse_test.go
  test/e2e/e2e_docker_helper.go
  test/e2e/e2e_suite_test.go
Labels: cla-not-required

#195 Installer and bundle builder fixes
  agent/installer/bundle_builder/Dockerfile
  agent/installer/bundle_builder/build-bundle.sh
  agent/installer/bundle_builder/ingredients/deb/download.sh
  agent/installer/bundle_downloader.go
  agent/installer/bundle_downloader_test.go
  agent/installer/cli.go
  agent/installer/installer.go
  agent/installer/internal/algo/apt_step.go
  agent/installer/internal/algo/ubuntu20_4K8s1_22.go
Labels: cla-not-required

#191 Add tag support to installer
  agent/installer/bundle_downloader.go
  agent/installer/bundle_downloader_test.go
  agent/installer/cli.go
  agent/installer/installer.go
  agent/installer/installer_test.go
Labels: cla-not-required

#201 Remove the hardcoding for ControlPlaneEndpoint in Cluster Template
  Makefile
  docs/local_dev.md
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-template-byoh.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-with-kcp.yaml
Labels: cla-not-required

#200 Added additional tests for installer and algo installer
  agent/installer/installer_test.go
  agent/installer/internal/algo/algo_test.go
  agent/installer/internal/algo/mock_ubuntu_with_error.go
Labels: cla-not-required

#205 Add support for bundle registry and tag fields
  apis/infrastructure/v1beta1/byocluster_types.go
  apis/infrastructure/v1beta1/byohost_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclusters.yaml
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  controllers/infrastructure/byomachine_scope.go
  controllers/infrastructure/suite_test.go
  test/builder/builders.go
Labels: cla-not-required

#207 Installer OS mapping
  agent/installer/cli.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/installer/registry.go
  agent/installer/registry_test.go
Labels: cla-not-required

#213 Update build-bundle.sh to include .imgpkg dir
  agent/installer/bundle_builder/build-bundle.sh
Labels: cla-not-required

#217 Strip version tag from k8s version
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: cla-not-required

#216 Integrate host-agent with the installer
  agent/host_agent_test.go
  agent/installer/cli.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/reconciler/reconciler_test.go
  agent/reconciler/reconcilerfakes/fake_installer.go
  test/e2e/e2e_docker_helper.go
Labels: cla-not-required

#215 Use --short to report kubectl version
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: cla-not-required

#211 Add more ldflags for host agent binary
  Makefile
Labels: cla-not-required

#214 Update getting started guide
  docs/getting_started.md
Labels: cla-not-required

#222 Cleanup bundle annotations on byohost
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
Labels: cla-not-required

#225 Refactored Host Agent, Installer Integration
  agent/host_agent_test.go
  agent/installer/cli.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/reconciler/reconciler_test.go
  agent/reconciler/reconcilerfakes/fake_installer.go
Labels: cla-not-required

#229 Use imgpkg -i
  agent/installer/bundle_builder/build-bundle.sh
  agent/installer/bundle_builder/push-bundle.sh
  agent/installer/bundle_downloader.go
Labels: cla-not-required

#220 Fixes format and goimports issues
  .golangci.yml
  agent/installer/internal/algo/apt_step.go
Labels: cla-not-required

#232 godoc reference card and minor alignment fix
  README.md
Labels: cla-not-required

#224 Check broken links in markdown files
  .github/workflows/docs-lint.yaml
  .github/workflows/markdown.links.config.json
Labels: enhancement, cla-not-required

#240 Fixed godoc urls
  README.md
Labels: cla-not-required

#239 Improve the getting-started docs
  docs/getting_started.md
Labels: cla-not-required

#230 Add Installer documentation
  docs/local_dev.md
Labels: cla-not-required

#227 Update default value for downloadpath
  agent/main.go
Labels: cla-not-required

#243 Fix installer Ubuntu_20.04.3_x86-64 bug
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/installer/registry.go
  agent/installer/registry_test.go
Labels: cla-not-required

#209 Changes to OS and package updates as a follow-up on the discussion in PR #169
  agent/installer/installer_test.go
  agent/installer/internal/algo/algo_test.go
  agent/installer/internal/algo/apt_step.go
  agent/installer/internal/algo/installer.go
  agent/installer/internal/algo/mock_ubuntu_with_error.go
  agent/installer/internal/algo/ubuntu20_4K8s1_22.go
Labels: cla-not-required

#249 Added Go Report Card badge in Readme
  README.md
Labels: cla-not-required

#247 Add Prow like actions for BYOH
  .github/labeler.yaml
  .github/workflows/lgtm.yaml
  .github/workflows/prow-github-actions.yaml
  .github/workflows/pull-request-labeler.yaml
Labels: enhancement, cla-not-required

#245 Run e2e test for each PR
  .github/workflows/e2e.yml
  .github/workflows/main.yml
Labels: cla-not-required, area/e2e-test

#236 fix local_dev.md file for updated file path & environment variable name
  docs/local_dev.md
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-template-byoh.yaml
Labels: cla-not-required, area/docs, area/test-release

#257 Update Cluster Template for ByoCluster Bundle fields
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-with-kcp.yaml
Labels: cla-not-required, area/test-release

#260 Documented cgroupfs driver use in the getting started guide
  docs/getting_started.md
Labels: cla-not-required, area/docs

#267 Add VM Prerequisites to Getting Started Guide
  docs/getting_started.md
Labels: cla-not-required, area/docs

#261 Create draft release automation
  .github/workflows/draft-release.yaml
  .gitignore
  Makefile
Labels: cla-not-required, area/test-release
