Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-05, with the labels that each got.

#515 Implement low level admission handler interface for ByoHost webhook
  apis/infrastructure/v1beta1/byohost_webhook.go
  apis/infrastructure/v1beta1/byohost_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  main.go
Labels: cla-not-required, area/apis

#510 Add bootstrap Authenticator and CSR registration
  agent/authenticator/authenticator_suite_test.go
  agent/authenticator/authenticator_test.go
  agent/authenticator/bootstrap_authenticator.go
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/main.go
  agent/registration/csr.go
  agent/registration/csr_test.go
  agent/registration/registration_suite_test.go
  controllers/infrastructure/suite_test.go
  scripts/fetch_ext_bins.sh
  test/builder/builders.go
Labels: cla-not-required, area/test-release

#521 docs: Updated contributing guidelines with the squash commit best practice
  CONTRIBUTING.md
Labels: cla-not-required, area/docs

#525 Add condition for Installation Secret
  apis/infrastructure/v1beta1/condition_consts.go
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
Labels: cla-not-required, area/apis

#524 Add K8sInstallerConfigTemplate CRD
  PROJECT
  apis/infrastructure/v1beta1/k8sinstallerconfigtemplate_types.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigtemplates.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_infrastructure_k8sinstallerconfigtemplates.yaml
  config/crd/patches/webhook_in_infrastructure_k8sinstallerconfigtemplates.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_viewer_role.yaml
  config/samples/infrastructure_v1beta1_k8sinstallerconfigtemplate.yaml
Labels: cla-not-required, area/apis

#516 Add host platform to ByoHost CR info on registration
  agent/registration/host_registrar.go
  agent/registration/host_registrar_test.go
  apis/infrastructure/v1beta1/byohost_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
Labels: cla-not-required, area/apis

#528 Added help flag for bootstrap-kubeconfig
  agent/help_flag_test.go
  agent/main.go
Labels: cla-not-required

#540 ByoClusterTemplate added for cluster class support
  apis/infrastructure/v1beta1/byoclustertemplate.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclustertemplates.yaml
  config/crd/kustomization.yaml
Labels: area/apis

#513 Add admission controller
  config/rbac/role.yaml
  controllers/infrastructure/byoadmission_controller.go
  controllers/infrastructure/byoadmission_controller_test.go
  controllers/infrastructure/suite_test.go
  main.go
  test/e2e/e2e_suite_test.go
Labels: cla-not-required, area/test-release

#526 K8sInstallerConfig controller implementation added
  Dockerfile
  PROJECT
  agent/installer/bundle_downloader.go
  agent/installer/installer.go
  agent/installer/steps.go
  apis/infrastructure/v1beta1/k8sinstallerconfig_types.go
  common/installer/downloader.go
  common/installer/installer.go
  common/installer/internal/algo/ubuntu20_4k8s.go
  common/utils.go
  config/rbac/role.yaml
  controllers/infrastructure/k8sinstallerconfig_controller.go
  controllers/infrastructure/k8sinstallerconfig_controller_test.go
  controllers/infrastructure/suite_test.go
  main.go
  test/builder/builders.go
Labels: cla-not-required, area/test-release, area/apis

#541 Create kubeconfig in bootstrap token flow
  agent/authenticator/authenticator_suite_test.go
  agent/authenticator/authenticator_test.go
  agent/authenticator/bootstrap_authenticator.go
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/main.go
  agent/registration/csr.go
  agent/registration/csr_internal_test.go
  agent/registration/csr_test.go
  agent/registration/registration_suite_test.go
  controllers/infrastructure/byomachine_controller_test.go
Labels: cla-not-required

#527 Add installer contract to ByoMachine controller
  config/rbac/role.yaml
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  controllers/infrastructure/suite_test.go
  test/builder/builders.go
Labels: cla-not-required, area/test-release

#546 Added ClusterRoleBinding for host agent user
  config/rbac/byohost_editor_clusterrolebinding.yaml
  config/rbac/byohost_editor_role.yaml
Labels: cla-not-required

#550 fixed: K8sInstallerConfig CR are not getting deleted when byomachine is deleted
  controllers/infrastructure/k8sinstallerconfig_controller.go
  controllers/infrastructure/k8sinstallerconfig_controller_test.go
Labels: cla-not-required

#554 Fix: Flaky tests for host-agent bootstrap flow
  agent/host_agent_test.go
Labels: cla-not-required

#551 fixed: Byoh hostinfo.architecture is not matching with the supported bundle name
  common/installer/installer.go
  common/installer/internal/algo/ubuntu20_4k8s.go
  controllers/infrastructure/k8sinstallerconfig_controller_test.go
Labels: cla-not-required

#559 Agent changes to support kubeconfig bootstrap flow
  agent/host_agent_test.go
  agent/main.go
  agent/registration/csr.go
  agent/registration/csr_internal_test.go
  agent/registration/csr_test.go
  agent/registration/registration_suite_test.go
  feature/feature.go
Labels: cla-not-required

#558 Added manual CSR approval flow
  main.go
Labels: cla-not-required

#565 Webhooks added for ByoClusterTemplate
  apis/infrastructure/v1beta1/byocluster_webhook.go
  apis/infrastructure/v1beta1/byocluster_webhook_test.go
  apis/infrastructure/v1beta1/byoclustertemplate_webhook.go
  apis/infrastructure/v1beta1/byoclustertemplate_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_byoclustertemplates.yaml
  config/crd/patches/webhook_in_byoclustertemplates.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  go.mod
  go.sum
Labels: area/test-release, area/apis

#566 Fixed bugs in agent bootstrap kubeconfig flow
  agent/host_agent_test.go
  agent/main.go
  agent/registration/csr.go
  agent/registration/csr_internal_test.go
  agent/registration/csr_test.go
  config/rbac/byoh_csr_creator_clusterrole.yaml
Labels: cla-not-required

#572 Fix: Use go install instead of go get to install binaries
  Makefile
Labels: cla-not-required, area/test-release
