Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-03, with the labels that each got.

#385 More automation in getting_started.md guide
  hack/getting_started.sh
Labels: cla-not-required, area/test-release

#400 Add support for host-agent integration tests
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  test/e2e/byohost_reuse_test.go
  test/e2e/docker_helper.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
Labels: cla-not-required, area/test-release

#407 Adds default goal for Makefile.
  Makefile
Labels: area/test-release

#416 build byoh binary only once to save test time
  test/e2e/byohost_reuse_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
Labels: cla-not-required, area/test-release

#419 Update Contributing Guidelines
  CONTRIBUTING.md
Labels: cla-not-required, area/docs

#418 Add doc.go file to all packages
  agent/cloudinit/doc.go
  agent/installer/doc.go
  agent/installer/internal/algo/doc.go
  agent/reconciler/doc.go
  agent/registration/doc.go
  agent/version/doc.go
  apis/infrastructure/v1beta1/doc.go
  controllers/infrastructure/doc.go
  test/e2e/doc.go
Labels: cla-not-required, area/test-release, area/apis

#426 Bump containerd version to v1.5.10
  go.mod
  go.sum
Labels: cla-not-required, area/test-release

#424 Troubleshooting guide
  docs/troubleshooting_guide.md
Labels: cla-not-required, area/docs

#422 Minor fixes for linting changes after running `make test`
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachinetemplates.yaml
Labels: cla-not-required

#430 Implemented K8s patch version masking in the registry matrix of the Installer
  agent/installer/installer.go
  agent/installer/registry.go
  agent/installer/registry_test.go
Labels: cla-not-required

#405 Fix golint issues
  agent/cloudinit/cloudinit.go
  agent/cloudinit/cmd_runner.go
  agent/cloudinit/file_writer.go
  agent/cloudinit/template_parser.go
  agent/help_flag_test.go
  agent/installer/bundle_downloader.go
  agent/installer/checks.go
  agent/installer/cli-dev.go
  agent/installer/installer.go
  agent/installer/internal/algo/apt_step.go
  agent/installer/internal/algo/installer.go
  agent/installer/internal/algo/mock_ubuntu_with_error.go
  agent/installer/internal/algo/output_builder.go
  agent/installer/internal/algo/output_builder_counter.go
  agent/installer/internal/algo/ubuntu20_4K8s1_22.go
  agent/installer/registry.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/registration/host_registrar.go
  agent/version/version.go
  apis/infrastructure/v1beta1/byocluster_webhook.go
  apis/infrastructure/v1beta1/byohost_types.go
  apis/infrastructure/v1beta1/byohost_webhook.go
  controllers/infrastructure/byocluster_controller.go
  controllers/infrastructure/byomachine_controller.go
  test/e2e/docker_helper.go
  test/e2e/e2e_debug_helper.go
Labels: cla-not-required, area/test-release, area/apis

#440 Added support for K8s minor versions v1.21.* & v1.23.* to the Installer
  agent/installer/installer.go
Labels: cla-not-required

#441 Wait for the host agent process to start in host agent integration tests
  agent/host_agent_test.go
Labels: cla-not-required

#429 Add feature gate support for SecureAccess to host agent
  agent/help_flag_test.go
  agent/host_agent_test.go
  agent/main.go
  feature/feature.go
  go.mod
Labels: cla-not-required, area/test-release

#437 Handle bundle artifact naming changes
  agent/host_agent_suite_test.go
  agent/installer/bundle_downloader.go
  agent/installer/bundle_downloader_test.go
  agent/installer/cli-dev.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/main.go
  docs/local_dev.md
  test/e2e/config/provider.yaml
Labels: cla-not-required, area/docs, area/test-release

#462 Updates kube-vip images in templates to v0.4.1
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-with-kcp.yaml
Labels: cla-not-required, area/test-release

#454 Update versions information in HostAgent binary
  .github/workflows/ci.yml
  .github/workflows/draft-release.yaml
  Makefile
  agent/host_agent_test.go
  agent/version/version.go
  agent/version/version_suite_test.go
  agent/version/version_test.go
  hack/version.sh
Labels: cla-not-required, area/test-release
