Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-06, with the labels that each got.

#576 docs: Update getting-started guide with skip-installation flag details
  docs/getting_started.md
Labels: cla-not-required, area/docs

#564 Host agent changes
  agent/cloudinit/cloudinit.go
  agent/cloudinit/cloudinit_test.go
  agent/cloudinit/cloudinitfakes/fake_icmd_runner.go
  agent/cloudinit/cmd_runner.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  apis/infrastructure/v1beta1/byohost_types.go
  common/installer/internal/algo/ubuntu20_4k8s.go
  test/builder/builders.go
Labels: cla-not-required, area/test-release, area/apis

#583 Bump runc and containerd dependencies
  go.mod
  go.sum
Labels: cla-not-required, area/test-release

#579 Add e2e test for installer flow
  .github/workflows/e2e.yml
  Makefile
  common/installer/internal/algo/ubuntu20_4k8s.go
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/installer/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/installer/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/installer/crs.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/installer/kustomization.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/installer/md.yaml
  test/e2e/e2e_installer_test.go
Labels: cla-not-required, area/test-release

#581 Removed BundleLookupTag from the ByoClusterSpec
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/installer/bundle_downloader.go
  agent/installer/bundle_downloader_test.go
  agent/installer/cli-dev.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  agent/reconciler/reconcilerfakes/fake_ik8s_installer.go
  apis/infrastructure/v1beta1/byocluster_types.go
  apis/infrastructure/v1beta1/byocluster_webhook.go
  apis/infrastructure/v1beta1/byocluster_webhook_test.go
  apis/infrastructure/v1beta1/byoclustertemplate_webhook.go
  apis/infrastructure/v1beta1/byoclustertemplate_webhook_test.go
  apis/infrastructure/v1beta1/byohost_types.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  common/installer/downloader.go
  common/installer/installer.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  config/webhook/manifests.yaml
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  main.go
  test/builder/builders.go
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-with-kcp.yaml
Labels: cla-not-required, area/test-release, area/apis

#578 kubeconfig flag removed in the agent
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/main.go
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/secret_reader_clusterrole.yaml
  config/rbac/secret_reader_clusterrolebinding.yaml
  controllers/infrastructure/byoadmission_controller.go
  controllers/infrastructure/byoadmission_controller_test.go
  test/e2e/byohost_reuse_test.go
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/installer/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/installer/cluster-with-kcp.yaml
  test/e2e/docker_helper.go
  test/e2e/e2e_installer_test.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
  test/utils/bootstraptoken/testutils.go
Labels: cla-not-required, area/test-release

#590 Add kubebuilder markers for RBACs for CSR
  config/rbac/role.yaml
  controllers/infrastructure/byoadmission_controller.go
Labels: cla-not-required

#573 Clusterclass quickstart and cluster topology template
  apis/infrastructure/v1beta1/byoclustertemplate_webhook.go
  apis/infrastructure/v1beta1/byoclustertemplate_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  config/default/webhookcainjection_patch.yaml
  config/webhook/manifests.yaml
Labels: area/apis

#575 Clusterclass quickstart and cluster topology templates for vm and e2e
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/clusterclass-quickstart-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/clusterclass-quickstart-template.yaml
Labels: area/test-release

#595 Update ByoHost Validating webhook
  apis/infrastructure/v1beta1/byohost_webhook.go
  apis/infrastructure/v1beta1/byohost_webhook_internal_test.go
  apis/infrastructure/v1beta1/byohost_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
Labels: cla-not-required, area/apis

#588 Fix agent to mark conditions with appropriate status on uninstall
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
Labels: cla-not-required

#586 Bootstrap kubeconfig controller
  Dockerfile
  PROJECT
  apis/infrastructure/v1beta1/bootstrapkubeconfig_types.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  common/bootstraptoken/token.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_bootstrapkubeconfigs.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_infrastructure_bootstrapkubeconfigs.yaml
  config/crd/patches/webhook_in_infrastructure_bootstrapkubeconfigs.yaml
  config/manager/kustomization.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_editor_role.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/infrastructure_v1beta1_bootstrapkubeconfig.yaml
  controllers/infrastructure/bootstrapkubeconfig_controller.go
  controllers/infrastructure/bootstrapkubeconfig_controller_test.go
  controllers/infrastructure/byoadmission_controller_test.go
  controllers/infrastructure/byocluster_controller_test.go
  controllers/infrastructure/byomachine_controller_test.go
  controllers/infrastructure/k8sinstallerconfig_controller_test.go
  controllers/infrastructure/suite_test.go
  main.go
  test/builder/builders.go
  test/e2e/byohost_reuse_test.go
  test/e2e/docker_helper.go
  test/e2e/e2e_installer_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
  test/utils/bootstraptoken/testutils.go
Labels: cla-not-required, area/test-release, area/apis

#609 Fix command in documentation
  docs/getting_started.md
Labels: area/docs

#611 BYOH agent documentation
  docs/byoh_agent.md
Labels: cla-not-required, area/docs

#616 Cluster upgrade test
  test/e2e/cluster_upgrade_test.go
Labels: cla-not-required, area/test-release

#617 E2E test for ClusterClass feature and CC docker templates
  .github/workflows/e2e.yml
  test/e2e/config/provider.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/clusterclass-quickstart.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/clusterclass-quickstart.yaml
  test/e2e/e2e_clusterclass_test.go
Labels: cla-not-required, area/test-release
