Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-04, with the labels that each got.

#476 Bump k8s & capi dependencies
  .github/workflows/ci.yml
  .github/workflows/draft-release.yaml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  Dockerfile
  Makefile
  agent/host_agent_suite_test.go
  agent/installer/cli-dev.go
  agent/main.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/host_registrar.go
  controllers/infrastructure/suite_test.go
  go.mod
  go.sum
  main.go
  test/e2e/config/provider.yaml
  test/e2e/data/shared/metadata.yaml
Labels: cla-not-required, area/test-release

#442 Minor indentation and readability improvements
  docs/getting_started.md
Labels: area/docs

#455 Update k8s version in e2e tests
  Makefile
  agent/installer/bundle_builder/ingredients/deb/Dockerfile
  agent/installer/bundle_builder/ingredients/deb/download.sh
  docs/BYOHDockerFileDev
  docs/getting_started.md
  docs/local_dev.md
  hack/getting_started.sh
  test/e2e/BYOHDockerFile
  test/e2e/config/provider.yaml
  test/e2e/docker_helper.go
Labels: cla-not-required, area/docs, area/test-release

#451 Installer: e2e tests against unsupported minor & major versions of K8s
  agent/installer/installer_test.go
Labels: cla-not-required

#481 Add installer flow sequence diagram
  docs/diagrams/installer-flow.png
  docs/diagrams/installer-flow.puml
Labels: cla-not-required, area/docs

#479 Platform specific fields in BYOHost CRD
  apis/infrastructure/v1beta1/byohost_types.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
Labels: cla-not-required, area/apis

#482 Docs update for v0.2.0 release
  docs/getting_started.md
Labels: cla-not-required, area/docs

#491 Sequence diagram from Bootstrap Token Authentication for BYO Host
  docs/diagrams/bootstrap-token-authentication-for-byohost.png
Labels: cla-not-required, area/docs

#480 Minor doc fixes
  docs/getting_started.md
Labels: cla-not-required, area/docs

#488 Added OS and K8s version support in README.md
  README.md
Labels: area/docs

#494 Update ByoHost/ ByoMachine CRDs for installer changes
  apis/infrastructure/v1beta1/byohost_types.go
  apis/infrastructure/v1beta1/byomachine_types.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachinetemplates.yaml
Labels: cla-not-required, area/apis

#498 Add new ClusterRole and ClusterRoleBindings for CSR
  config/rbac/byoh_csr_creator_clusterrole.yaml
  config/rbac/byoh_csr_creator_clusterrolebinding.yaml
  config/rbac/role.yaml
  controllers/infrastructure/byohost_controller.go
Labels: cla-not-required

#502 Adding use-installer-flag to host agent
  agent/help_flag_test.go
  agent/host_agent_test.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  apis/infrastructure/v1beta1/condition_consts.go
Labels: cla-not-required, area/apis

#490 New K8sInstallerConfig CRD created
  PROJECT
  apis/infrastructure/v1beta1/k8sinstallerconfig_types.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigs.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_k8sinstallerconfigs.yaml
  config/crd/patches/webhook_in_k8sinstallerconfigs.yaml
  config/rbac/k8sinstallerconfig_editor_role.yaml
  config/rbac/k8sinstallerconfig_viewer_role.yaml
  config/samples/infrastructure_v1beta1_k8sinstallerconfig.yaml
Labels: cla-not-required, area/apis

#495 installation and uninstallation command added from agent installer algo
  agent/installer/steps.go
Labels: cla-not-required

#512 Updated cluster-template.yaml location in the local development doc
  docs/local_dev.md
Labels: area/docs
