Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-09, with the labels that each got.

#695 Minor documentation fix
  README.md
  docs/getting_started.md
Labels: cla-not-required, area/docs

#704 Add CSR create role to BYOH Agent
  config/rbac/byoh_csr_creator_clusterrolebinding.yaml
Labels: cla-not-required

#703 Fix Makefile help
  Makefile
Labels: area/test-release

#708 New permission added for resource events
  config/rbac/byohost_editor_role.yaml
Labels: cla-not-required

#706 Enable manual csr flow via clusterctl
  config/manager/manager.yaml
  docs/getting_started.md
  main.go
  test/e2e/config/provider.yaml
Labels: cla-not-required, area/docs, area/test-release

#705 Use the Makefile installed ginkgo instead of preinstalled ginkgo
  Makefile
Labels: area/test-release
