Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-02, with the labels that each got.

#358 Code improvements
  CONTRIBUTING.md
  agent/cloudinit/file_writer.go
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/installer/bundle_downloader.go
  agent/installer/bundle_downloader_test.go
  agent/installer/cli.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/installer/internal/algo/algo_test.go
  agent/installer/internal/algo/apt_step.go
  agent/installer/internal/algo/installer.go
  agent/installer/internal/algo/shell_step.go
  agent/installer/os_detector.go
  agent/installer/os_detector_test.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/host_registrar.go
  agent/tools/tools.go
  apis/infrastructure/v1beta1/byocluster_types.go
  apis/infrastructure/v1beta1/byocluster_webhook.go
  apis/infrastructure/v1beta1/byohost_types.go
  apis/infrastructure/v1beta1/byohost_webhook.go
  apis/infrastructure/v1beta1/byomachine_types.go
  apis/infrastructure/v1beta1/byomachinetemplate_types.go
  apis/infrastructure/v1beta1/condition_consts.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  common/utils.go
  config/default/manager_auth_proxy_patch.yaml
  config/default/webhookcainjection_patch.yaml
  controllers/infrastructure/byocluster_controller.go
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  controllers/infrastructure/suite_test.go
  test/builder/builders.go
  test/e2e/byohost_reuse_test.go
  test/e2e/config/provider.yaml
  test/e2e/e2e_debug_helper.go
  test/e2e/e2e_docker_helper.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
Labels: cla-not-required, area/docs, area/test-release, area/apis

#355 Add BYOH cluster create sequence diagram
  docs/diagrams/create-byoh-cluster.png
  docs/diagrams/create-byoh-cluster.puml
Labels: cla-not-required, area/docs

#372 Files removed from test code coverage
  Makefile
  codecov.yml
Labels: cla-not-required, area/test-release

#365 add cli build details to local_dev docs
  docs/local_dev.md
Labels: cla-not-required, area/docs

#316 Refactor of the host agent installer
  agent/installer/bundle_downloader.go
  agent/installer/bundle_downloader_test.go
  agent/installer/cli.go
  agent/installer/installer.go
  agent/installer/installer_test.go
  agent/reconciler/host_reconciler.go
Labels: cla-not-required

#378 Add timezone converter link
  README.md
Labels: cla-not-required, area/docs

#376 Fetch control plane IP at runtime
  Makefile
  test/e2e/byohost_reuse_test.go
  test/e2e/config/provider.yaml
  test/e2e/e2e_debug_helper.go
  test/e2e/e2e_docker_helper.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
Labels: cla-not-required, area/test-release

#356 Add pre-requisite package precheck to byoh-agent
  .github/workflows/ci.yml
  agent/installer/checks.go
  agent/installer/installer.go
Labels: cla-not-required

#381 Add Governance details
  GOVERNANCE.md
Labels: cla-not-required, area/docs

#386 Code + Document improvements
  GOVERNANCE.md
  MAINTAINERS.md
  Makefile
  agent/installer/bundle_downloader_test.go
  agent/installer/installer_test.go
  docs/getting_started.md
  test/e2e/e2e_debug_helper.go
  test/e2e/e2e_docker_helper.go
  test/e2e/md_scale_test.go
Labels: cla-not-required, area/docs, area/test-release

#382 Update README to include more details
  README.md
Labels: cla-not-required, area/docs

#387 Renamed the HAI cli to cli-dev.go in accordance with issue #374
  agent/installer/cli-dev.go
  codecov.yml
Labels: cla-not-required

#388 Add unit tests for k8s install and uninstall components of agent reconciler
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/reconciler/reconciler_test.go
  agent/reconciler/reconcilerfakes/fake_ik8s_installer.go
  agent/reconciler/reconcilerfakes/fake_installer.go
Labels: cla-not-required

#380 Add a log-level flag to set the log verbosity level
  agent/help_flag_test.go
  agent/main.go
  go.mod
Labels: cla-not-required, area/test-release
