Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-10, with the labels that each got.

#721 Update golangci-lint v1.50.0. Enable linter dupword
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/label_flag_test.go
  agent/main.go
  agent/registration/host_registrar_test.go
  apis/infrastructure/v1beta1/byohost_webhook.go
  common/bootstraptoken/token.go
  controllers/infrastructure/byomachine_controller.go
  installer/bundle_downloader_test.go
  main.go
  test/e2e/byohost_reuse_test.go
  test/e2e/cluster_upgrade_test.go
  test/e2e/clusterclass_upgrade_test.go
  test/e2e/docker_helper.go
  test/e2e/e2e_clusterclass_test.go
  test/e2e/e2e_installer_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
Labels: area/test-release, area/apis

#720 Doc improvements for BYOH before next release
  docs/getting_started.md
  docs/troubleshooting_guide.md
Labels: cla-not-required, area/docs

#727 Adding CAPB label in tilt-provider.json
  tilt-provider.json
Labels: cla-not-required

#736 Enables K8s 1.24 support in BYOH
  README.md
  docs/BYOHDockerFileDev
  docs/getting_started.md
  docs/local_dev.md
  hack/getting_started.sh
  installer/bundle_builder/ingredients/deb/Dockerfile
  installer/bundle_builder/ingredients/deb/download.sh
  installer/registry.go
  installer/registry_internal_test.go
  scripts/fetch_ext_bins.sh
  test/e2e/cluster_upgrade_test.go
  test/e2e/clusterclass_upgrade_test.go
  test/e2e/config/provider.yaml
Labels: cla-not-required, area/docs, area/test-release
