Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-07, with the labels that each got.

#606 Fix: Read kubeconfig first even with --bootstrap-kubeconfig flag
  agent/host_agent_test.go
  agent/main.go
  test/e2e/docker_helper.go
Labels: cla-not-required, area/test-release

#628 Rule added to create events in API groups for byohost
  config/rbac/byohost_editor_role.yaml
Labels: cla-not-required

#630 Namespace reference removed from cluster-class yamls
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/clusterclass-quickstart.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/clusterclass-quickstart.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/clusterclass-quickstart.yaml
Labels: cla-not-required, area/test-release

#635 Fix Host Agent integration tests
  agent/host_agent_suite_test.go
  test/e2e/docker_helper.go
Labels: cla-not-required, area/test-release

#637 Hard coded values for worker and control plane machine count removed
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/e2e/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template-topology.yaml
Labels: cla-not-required, area/test-release

#633 Webhook for bootstrapkubeconfig
  PROJECT
  apis/infrastructure/v1beta1/bootstrapkubeconfig_webhook.go
  apis/infrastructure/v1beta1/bootstrapkubeconfig_webhook_test.go
  apis/infrastructure/v1beta1/byohost_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  apis/infrastructure/v1beta1/zz_generated.deepcopy.go
  config/webhook/manifests.yaml
  controllers/infrastructure/byomachine_controller_test.go
  main.go
Labels: cla-not-required, area/apis

#640 Docs update for Bootstrap Token Feature
  docs/diagrams/bootstrap-token-authentication-for-byohost.png
  docs/getting_started.md
  docs/local_dev.md
Labels: cla-not-required, area/docs

#653 Revert "Update documentation for bootstrap token feature (#640)"
  docs/diagrams/bootstrap-token-authentication-for-byohost.png
  docs/getting_started.md
  docs/local_dev.md
Labels: cla-not-required, area/docs

#641 Skip ci, lint and e2e tests for doc changes
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
Labels: cla-not-required

#608 Added clusterclass template in release
  .github/workflows/draft-release.yaml
  Makefile
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/cluster-template-topology-docker.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/docker/clusterclass-quickstart-docker.yaml
Labels: cla-rejected, area/test-release

#655 Added TODOs for host observability
  agent/reconciler/host_reconciler.go
  agent/registration/host_registrar.go
  apis/infrastructure/v1beta1/byohost_types.go
  controllers/infrastructure/byohost_controller.go
  feature/feature.go
Labels: cla-not-required, area/apis

#642 Add certificate rotation to host agent
  agent/help_flag_test.go
  agent/main.go
  agent/registration/csr.go
  agent/registration/csr_test.go
  docs/getting_started.md
  hack/install-host-agent-service.sh
Labels: cla-not-required, area/docs, area/test-release

#639 Cluster class upgrade e2e test
  test/e2e/clusterclass_upgrade_test.go
Labels: cla-not-required, area/test-release

#658 Variable removed
  metadata.yaml
  test/e2e/config/provider.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/cluster-template-topology.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/templates/vm/clusterclass-quickstart.yaml
Labels: cla-not-required, area/test-release

#662 Add new version in metadata
  metadata.yaml
  test/e2e/config/provider.yaml
Labels: cla-not-required, area/test-release
