Repository vmware-tanzu/cluster-api-provider-bringyourownhost, pull requests merged in 2022-01, with the labels that each got.

#302 Update k8s version to v1.22.3 in all docs
  Makefile
  docs/getting_started.md
  docs/local_dev.md
  test/e2e/BYOHDockerFile
  test/e2e/config/provider.yaml
  test/e2e/e2e_docker_helper.go
Labels: cla-not-required, area/docs, area/test-release

#304 Add ControlPlaneEndpoint assignment details to getting_started docs
  docs/getting_started.md
Labels: cla-not-required, area/docs

#299 Fix integration test for byohost webhook
  apis/infrastructure/v1beta1/byohost_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
Labels: cla-not-required, area/apis

#306 Handle bundleLookupTag in e2e tests
  docs/local_dev.md
  test/e2e/config/provider.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-template.yaml
  test/e2e/data/infrastructure-provider-byoh/v1beta1/cluster-with-kcp.yaml
Labels: cla-not-required, area/docs, area/test-release

#287 Define strategy to provide value for bundleLookupTag in Cluster Template
  PROJECT
  apis/infrastructure/v1beta1/byocluster_webhook.go
  apis/infrastructure/v1beta1/byocluster_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  config/crd/kustomization.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/manifests.yaml
  main.go
Labels: cla-not-required, area/apis

#311 We should refactor the agent cli output
  agent/help_flag_test.go
  agent/installer/cli.go
  agent/main.go
Labels: cla-not-required

#314 Bump containerd version as per dependabot alert
  go.mod
  go.sum
Labels: cla-not-required, area/test-release

#315 Add ADOPTERS file
  ADOPTERS.md
  static/img/adopters/.gitkeep
Labels: cla-not-required, area/docs

#313 e2e test with installer
  Makefile
  docs/BYOHDockerFileDev
  docs/getting_started.md
  docs/local_dev.md
  test/e2e/BYOHDockerFile
  test/e2e/e2e_docker_helper.go
Labels: cla-not-required, area/docs, area/test-release

#318 Add popular references to BYOH demos and blogs
  README.md
Labels: cla-not-required, area/docs

#317 Added code coverage report generation and upload to codecov
  .github/workflows/main.yml
  Makefile
Labels: cla-not-required, area/test-release

#329 Added codecov badge in the Readme
  README.md
Labels: cla-not-required, area/docs

#331 Bump ginkgo version in gh actions workflows
  .github/workflows/e2e.yml
  .github/workflows/test-agent.yml
  .github/workflows/test-controller.yml
  .github/workflows/test-webhook.yml
Labels: cla-not-required

#326 Enable testpackage linter
  .golangci.yml
  agent/cloudinit/cloudinit_integration_test.go
  agent/cloudinit/file_writer_test.go
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/installer/bundle_downloader_test.go
  agent/installer/installer_suite_test.go
  agent/installer/installer_test.go
  agent/installer/internal/algo/algo_suite_test.go
  agent/installer/internal/algo/algo_test.go
  agent/installer/os_detector_test.go
  agent/installer/registry_test.go
  agent/label_flag_test.go
  apis/infrastructure/v1beta1/byocluster_webhook_test.go
  apis/infrastructure/v1beta1/byohost_webhook_test.go
  apis/infrastructure/v1beta1/webhook_suite_test.go
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  controllers/infrastructure/suite_test.go
  test/e2e/byohost_reuse_test.go
  test/e2e/e2e_debug_helper.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
Labels: cla-not-required, area/test-release, area/apis

#334 Add Ubuntu version requirement disclaimer to getting_started docs
  docs/getting_started.md
Labels: cla-not-required, area/docs

#330 Create make target for golangci-lint action
  Makefile
Labels: cla-not-required, area/test-release

#336 Add OpenSSF Badge to README
  README.md
Labels: cla-not-required, area/docs

#333 Bugfix kubeadm cleanup
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
Labels: cla-not-required

#328 fix bug: Got error: Node \"node02\" is invalid: spec.providerID: Forbidden: node updates may not change providerID except from \"\" to valid
  controllers/infrastructure/byomachine_controller.go
Labels: cla-not-required

#342 Add Office Hours Details to README
  README.md
Labels: cla-not-required, area/docs

#353 Add security contact details
  SECURITY_CONTACTS
Labels: cla-not-required

#346 Add version flag to host agent
  .github/workflows/draft-release.yaml
  Makefile
  agent/help_flag_test.go
  agent/host_agent_test.go
  agent/installer/internal/algo/shell_step.go
  agent/main.go
  agent/reconciler/reconciler_test.go
  agent/version/version.go
  agent/version/version_suite_test.go
  agent/version/version_test.go
Labels: cla-not-required, area/test-release

#345 Add integration tests for byocluster_controller
  controllers/infrastructure/byocluster_controller.go
  controllers/infrastructure/byocluster_controller_test.go
  controllers/infrastructure/suite_test.go
  test/builder/builders.go
Labels: cla-not-required, area/test-release

#343 Add tests for issue-290
  controllers/infrastructure/byomachine_controller.go
  controllers/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: cla-not-required, area/test-release

#357 Add controller tests for paused condition for ByoHost
  controllers/infrastructure/byomachine_controller_test.go
Labels: cla-not-required
